*{
    padding: 0;
    margin: 0;

    font-family: "DM mono", monospace;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(3, 1, 22);

    color: white;
}

h1{
    font-size: 53px;
    font-weight: 900;
    font-family: "Russo One", sans-serif;



    margin: 3px;
    padding: 20px;

}

h3{
    font-size: 20px;
    margin: 10px;

}

dt{
    margin: 10px;

    margin-left: 30px;
}



.content{
    background-color: rgb(3, 5, 35);
    padding: 10px;

    margin: 15px;


    border-radius: 15px;
}

#acertos{
    height: 30px;
    width: 95%;
    background-color: red;
    

    position: fixed;
    bottom: 0;
    border-radius: 15px 15px 0px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

strong{
    margin: 10px;
}
span{
    margin: 10px;
}